__pycache__/
*.py[cod]
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.synctex.gz
*.xdv
blueprint/src/*.paux
blueprint/src/generated-references.tex
blueprint/lean_decls
blueprint/web/
